.text{

    font-size: 20px;
    font-weight: 400;
}


    @media only screen and (max-width: 704px) {
       .text{
        padding: 18px;
        font-size: 16px;
    
    
    }
      }
    @media only screen and (max-width: 520px) {
       .text{
        padding: 18px;
        font-size: 12px;
    
    
    }
      }
    @media only screen and (max-width: 400px) {
       .text{
        padding: 18px;
        font-size: 10px;
    
    
    }
      }
    @media only screen and (max-width: 600px) {
      .img{
    padding: 7px;
    }
      }
    @media only screen and (max-width: 767px) {
     .sr{
        margin: 3px;
    }
    }
      